<div class="bg-primary-951 lg:mx-16 md:mx-8 mx-4 sm:my-4 pt-4" data-aos="fade-up" data-aos-delay="100">
  <h1 class="text-right border-b-4 pb-3 border-thirdy-50 w-24  text-4xl font-extrabold  text-thirdy-50 mb-8 ">Projects</h1>
  <div class="card grid lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1 gap-5 m-2 " >
      <div
      class="rounded-md relative group overflow-hidden brightness-90 card "
    >
      <img
        width="2860"
        height="1632"
        class="rounded-ss-lg rounded-se-lg duration-300 group-hover:scale-105 group-hover:animate-pulse"
        src="../../assets/img/Portfolio.JPG"/>
      <div *ngIf="!isMobile"
        class="p-5 absolute flex flex-col justify-end gap-2 bg-gradient-to-t from-slate-700 h-80 w-full duration-300 -bottom-60 group-hover:bottom-0" 
      >
        <div class=" text-white flex justify-between items-center">
          <h5 class="font-semibold text-xl">Portfolio</h5>
          <span class="text-xs capitalize">december 2024</span>
        </div>
        <div class="flex gap-1 flex-wrap mb-3 mt-4">
          <span
            class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
            >Angular</span
          ><span
            class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
            >typescript</span
          ><span
            class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
            >tailwind</span
          ><span
            class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
            >Angular Material UI</span
          >
        </div>
        <a
      href="https://ecsc.gov.sy/"
      target="blank"
      aria-label="project link"
      class="w-fit"
          title="project link"
      ><img src="../../assets/img/earth.svg"/>
      </a>
      </div>
    </div>

    <div
    class="rounded-md relative group overflow-hidden brightness-90 lg:mt-4 md:mt-0 sm:mt-0"  data-aos="fade-up" data-aos-delay="100" 
  >
    <img
      width="2860"
      height="1632"
      class="rounded-ss-lg rounded-se-lg duration-300 group-hover:scale-105 group-hover:animate-pulse"
      src="../../assets/img/ecsc.png"/>
    <div *ngIf="!isMobile"
      class="p-5 absolute flex flex-col justify-end gap-2 bg-gradient-to-t from-slate-700 h-80 w-full duration-300 -bottom-60 group-hover:bottom-0"
    >
      <div class=" text-white flex justify-between items-center">
        <h5 class="font-semibold text-xl">A government website to provide electronic services to Syrian citizens </h5>
        <span class="text-xs capitalize">december 2023</span>
      </div>
      <div class="flex gap-1 flex-wrap mb-3 mt-4">
        <span
          class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
          >Angular</span
        ><span
          class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
          >typescript</span
        ><span
          class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
          >Angular Material UI </span
        ><span
          class=" p-1 px-4 bg-slate-700 capitalize text-secondry-950 text-sm rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
          >tailwind</span
        ><span
          class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
          >Oracle Developer</span
        >
      </div>
      <a
      href="https://ecsc.gov.sy/"
      target="blank"
      aria-label="project link"
      class="w-fit"
          title="project link"
      ><img src="../../assets/img/earth.svg"/>
      </a>
    </div>
  </div>

  <div
  class="rounded-md relative group overflow-hidden brightness-90 lg:mt-4 md:mt-0 sm:mt-0"  data-aos="fade-up" data-aos-delay="100" 
>
  <img
    width="2860"
    height="1632"
    class="rounded-ss-lg rounded-se-lg duration-300 group-hover:scale-105 group-hover:animate-pulse"
    src="../../assets/img/evisa.png"/>
  <div *ngIf="!isMobile"
    class="p-5 absolute flex flex-col justify-end gap-2 bg-gradient-to-t from-slate-700 h-80 w-full duration-300 -bottom-60 group-hover:bottom-0"
  >
    <div class=" text-white flex justify-between items-center">
      <h5 class="font-semibold text-xl">syrian government website to provide electronic visa </h5>
      <span class="text-xs capitalize">August 2024</span>
    </div>
    <div class="flex gap-1 flex-wrap mb-3 mt-4">
      <span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Angular</span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >typescript</span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Angular Material UI </span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-secondry-950 text-sm rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Tailwind</span
      >
    </div>
    <a
      href="https://evisa.sy/"
      target="blank"
      aria-label="project link"
      class="w-fit"
          title="project link"
      ><img src="../../assets/img/earth.svg"/>
      </a>
  </div>
</div>


 <div
class="rounded-md relative group overflow-hidden brightness-90 lg:mt-8 md:mt-0 sm:mt-0"  data-aos="fade-up" data-aos-delay="100"  
>
<img
  width="2860"
  height="1632"
  class="rounded-ss-lg rounded-se-lg duration-300 group-hover:scale-105 group-hover:animate-pulse"
  src="../../assets/img/expat.JPG"/>
<div *ngIf="!isMobile"
  class="p-5 absolute flex flex-col justify-end gap-2 bg-gradient-to-t from-slate-700 h-80 w-full duration-300 -bottom-60 group-hover:bottom-0"
>
  <div class=" text-white flex justify-between items-center">
    <h5 class="font-semibold lg:text-xl md:text-lg sm:text-lg">A government website to provide electronic services to expatriate Syrian citizens  </h5>
    <span class="text-xs capitalize">december 2023</span>
  </div>
  <div class="flex gap-1 flex-wrap mb-3 mt-4">
    <span
      class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
      >Angular</span
    ><span
      class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
      >typescript</span
    ><span
      class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
      >Angular Material UI </span
    ><span
      class=" p-1 px-4 bg-slate-700 capitalize text-secondry-950 text-sm rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
      >bootstrap</span
    ><span
      class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
      >Oracle Developer</span
    >
  </div>
  <a
    href="https://ecsc-expat.sy/"
    target="blank"
    aria-label="project link"
    class="w-fit"
    title="project link"
    ><img src="../../assets/img/earth.svg" />
    </a>
</div>
</div>


<div
  class="rounded-md relative group overflow-hidden brightness-90 m-auto"  data-aos="fade-up" data-aos-delay="100"  
>
  <img
    width="2860"
    height="1632"
    class="rounded-ss-lg rounded-se-lg duration-300 group-hover:scale-105 group-hover:animate-pulse"
    src="../../assets/img/dashboard.JPG"/>
  <div *ngIf="!isMobile"
    class="p-5 absolute flex flex-col justify-end gap-2 bg-gradient-to-t from-slate-700 h-80 w-full duration-300 -bottom-60 group-hover:bottom-0"
  >
    <div class=" text-white flex justify-between items-center">
      <h5 class="font-semibold text-xl">dashboard for passport reserves of the syria government  </h5>
      <span class="text-xs capitalize">Septemper 2024</span>
    </div>
    <div class="flex gap-1 flex-wrap mb-3 mt-4">
      <span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Angular</span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >typescript</span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-sm text-secondry-950 rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Angular Material UI </span
      ><span
        class=" p-1 px-4 bg-slate-700 capitalize text-secondry-950 text-sm rounded-3xl duration-300 hover:text-thirdy-50 hover:shadow-lg hover:shadow-thirdy-50 cursor-default"
        >Tailwind</span
      >
    </div>
    
  </div>
</div> 
  </div>

</div>
