.btn-primary:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
    // --tw-bg-opacity: 1;
    background-color:var(--thirdyColor); }

    .btn-primary {
        border-radius: .375rem;
        background-color:var(--thirdyColor);
        padding: .5rem 1rem;
        font-weight: 600;
        // --tw-text-opacity: 1;
        transition-duration: .3s; 
    }
    .d{
        font-family:'Times New Roman', Times, serif;
    }
    // span{
    //     width:10px ;
    //     height:10px;
    //     background-color: blue;
    //     border-radius: 50%;
    //     margin:0px 3px;
    //     animation:loading 1s infinite ease-in-out;
    // }

    // @keyframes loading{
    //     0%,
    //     80%,
    //     100%{
    //         opacity: 0;
    //     }
    //     40%{
    //         opacity: 1;
    //     }
    // }
    // span:nth-child(1){
    //     animation-delay: -0.32s;
    // }
    // span:nth-child(2){
    //     animation-delay: -0.16s;
    // }


    .loading {
        // display: flex;
        gap: 5px;
        
        color:rgb(30, 29, 29);
    }
    
    .loading span {
        // font-size: 25px;
        animation: loading 1.2s infinite;
    }
    
    @keyframes loading {
        0%, 80%, 100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
    }
    
    .loading span:nth-child(1) {
        animation-delay: -0.32s;
    }
    
    .loading span:nth-child(2) {
        animation-delay: -0.16s;
    }