<div class="lg:mx-16 md:mx-8 mx-4 sm:my-4"data-aos="fade-up" data-aos-delay="100" >
    <h1 class="text-right border-b-4 pb-3 border-thirdy-50 w-24 text-4xl font-extrabold  text-thirdy-50 mb-8 ">Skills</h1>
    <div class="group grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4 "  >
    <div *ngFor="let skill of skills" >
        <div class="group p-4 rounded-lg main-shadow bg-[#41568a1a] text-[#b3a2b4] text-xl hover:text-secondry-950  border-solid border-1 border-thirdy-50   flex justify-start items-center  duration-300 hover:-translate-y-1 "  > 
           <img [src]="'../../assets/img/'+ skill.name +'.svg'" width="50px" height="50px" class="m-4 group-hover:animate-pulse">
          <p >  {{skill.describe}}</p>
        </div>
    </div>
    </div>
</div>
