
<div
  class="bg-primary-951 lg:h-[610px] md:h[610px]  w-full flex justify-between flex-wrap"
>
  <div class="lg:mx-16 md:mx-8 mx-4 sm:my-4 lg:my-auto lg:max-w-3xl  my-auto flex flex-wrap">
      <div class="w-full font-extrabold lg:text-5xl md:text-5xl text-3xl text-secondry-950"
        >Mirna Sulieman
  </div>
    <span class="font-bold text-xl text-secondry-950"
      >Front-End Developer
    </span>
    <section class="my-4 ">
      <span
        class="text-lg font-normal font-italic leading-relaxed text-slate-200"
        >Interested in new technologies and working methods. I like to come up
        with ideas that to permit to improve business processes.
      </span>
      <br />
      <span class="font-italic leading-relaxed text-slate-200"
        >Passionate about development </span
      ><span class="font-extrabold text-slate-200">Front-End. </span>
     
    </section>
    <section class="mx-8 my-2 flex gap-8 font-extrabold flex-wrap">
        <div>
          <div class="flex gap-7 p-1">
            <div
              class="w-8 h-8 flex items-center justify-center bg-pink-100 rounded-full"
            >
              <img src="/assets/img/location.svg" />
            </div>
            <p class="font-bold text-secondry-950">Syria , Damascus</p>
          </div>
          <div class="flex gap-7 p-1">
            <div
              class="w-8 h-8 flex items-center justify-center bg-pink-100 rounded-full"
            >
              <img src="/assets/img/birthday.svg" />
            </div>
            <p class="font-bold text-secondry-950">{{ birthday }} Years</p>
          </div>
          <div class="flex gap-7 p-1">
            <div
              class="w-8 h-8 flex items-center justify-center bg-pink-100 rounded-full"
            >
              <img src="/assets/img/mail.svg" />
            </div>
            <a
              class="font-bold text-secondry-950 hover:text-thirdy-50"
              href="mailto:mirnasliman92@gmail.com"
            >
              mirnasliman92&#64;gmail.com</a
            >
          </div>
        </div>
        <div>
          <div class="flex gap-7 p-1">
            <div
              class="w-8 h-8 flex items-center justify-center bg-pink-100 rounded-full"
            >
              <img src="/assets/img/phone.svg" />
            </div>
            <a
              href="https://wa.me/+963934615805"
              class="font-bold text-secondry-950 hover:text-thirdy-50"
              target="_blink"
            >
              Chat with us on WhatsApp
            </a>
          </div>
          <div class="flex gap-7 p-1">
            <div
              class="w-8 h-8 flex items-center justify-center bg-pink-100 rounded-full"
            >
              <img src="/assets/img/education.svg" />
            </div>
            <p class="font-bold text-secondry-950">Bachelor's degree in ICTE</p>
          </div>
        </div>
      </section>
    <section class="my-4 max-w-3xl">
      <span class="text-lg font-italic leading-relaxed text-slate-200"
        >I am looking for an innovative and user-centric company to best meet
        the needs customer, from his idea to the final delivery of his project,
        or participate in the improvement of a project existing.
      </span>
    </section>
  </div>

  <div class="m-auto  hover:image-text">
    <img
      src="../../assets/img/profile.JPG"
      width="500"
      height="500"
      class="rounded-full"
    />

  </div>
</div>
